.card {
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: 300ms all ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card__header {
  color: black;
  padding: 10px;
  font-weight: 600;
  transition: 0.5s all ease;
  background: linear-gradient(to right, #fb4f93 50%, #fff5f9 50%);
  background-size: 200%;
}

.card__header:hover {
  background-position: right;
}

.card__img {
  width: 370px;
  height: 220px;
}

.card__img img {
  width: 400px;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff5f9;
  padding: 5px 20px;
}

.footer-item {
  margin-top: 5px;
}
